.endGame{
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,.8);
  min-height: 100vh;
  width: 100%;
  display: none;
  color: #ffffff;

  &--view{
    display: flex;
  }

  &__inner{
    width: 100%;
    max-width: 1024px;
    padding:50px 40px 10px 40px;
    margin: 0 auto;
    position: relative;
    @include mq(only-md){
      padding:50px 15px 10px 15px;
    }
  }

  &__scoreBox{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 60px;
    display: none;

    &.view{
      display: block;
    }
  }

  &__yourScore{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    @include mq(only-md){
      font-size: 2.5rem;
    }
  }

  &__score{
    font-size: 6rem;
    font-weight: bold;
    @include mq(only-md){
      font-size: 5rem;
    }
  }

  &__evaluationBox{
    text-align: center;
    margin-bottom: 40px;
    pointer-events: none;
    display: none;
    &.view{
      display: block;
    }

    @include mq(only-md){
      img{
        width: 85%;
      }
    }
  }

  &__yourEvaluation{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    @include mq(only-md){
      font-size: 2.5rem;
    }
  }

  &__evaluation{
    position: relative;
  }

  & .image2{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    box-shadow: 0 0 0px rgba(255,255,255, .6);
    transition: 2s;
    &.view{
      opacity: 1;
      box-shadow: 0 0 25px rgba(255,255,255, .6);
    }
  }

  &__btnBox{
    display: flex;
    justify-content: center;
    display: none;
    &.view{
      display: flex;
    }
  }

}