@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap');
html{font-size:62.5%;}
body{font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;}
code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;}
html,
body,
.App,
#root{
  height: 100%;
  background-image: url('./Components/Asset/common/pt01.jpg');
}

a:link,a:visited,a:hover,a:active{text-decoration: none;}

/*アニメーション*/
.animate__animated .animate__fadeInDown{
  --animate-duration: 0.8s;
}
.animate__animated.animate__fadeIn{
  --animate-duration: 0.3s;
}
.animate__animated.animate__bounceIn{
  --animate-duration: 0.8s;
}

/*スライド*/
.slick-prev::before {
  content: url(./Components/Asset/common/arrow_left.svg);
}
.slick-next::before {
  content: url(./Components/Asset/common/arrow_right.svg);
}
.slick-prev{
  left: -55px;
}
.slick-next{
  right: -55px;
}
/* @media screen and (max-width:480px) {
  .slick-prev{
      left: 30px;
  }
  .slick-next{
    right: 30px;
  }
} */
.slick-slider {
  /* margin:0 -15px; */
}
.slick-slide {
  padding:7px;
  outline: none;
}

*{
  outline: none;
}
.modal-content{
  background-color: rgba(0,0,0,0);
  max-width: 530px;
  margin: 0 auto;
  border:none;
}
.progress{
  border-radius: 0 !important;
}
.progress-bar{
  background-color: #8ae9ff;
}